div {
    background-image: url('./recipes/images/walhalla.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: auto;
}

.recipe-image {
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clickable-image {
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1 {
    color: black;
    padding: 10px;
    margin: 20px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    font-size: 50px;
}

.h1.recipe-title {
    background-image: url('./recipes/images/walhalla.jpg');
}

.h1 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
